<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-content">
        <header>
            <div class="row">
                <div class="wel">
                    <a href="login"><button class="first"><%= sign %></button></a>
                    <a href="login"><button class="first">Hi <%= name %></button></a>
                </div>
            </div>
            <div class="row">
                <div class="sh">
                    <input type="text" placeholder="Search..">
                    <button class="search">검색</button>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="middle">
                <div class="sub-title">
                    <h3>현재 진행중인 공고</h3>
                </div>
                <div class="cmp-list">
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                </div>
                <div class="cmp-list">
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                    <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <center>
                <p>copyright &copy; by 16조</p>
            </center>
        </footer>
    </div>

</body>
</html>