<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="type">
            <input type="radio" id="DB_Type1" name="DB_Type" value="type1" required>
            <label for="DB_Type1">개인회원</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="DB_Type2" name="DB_Type" value="type2">
            <label for="DB_Type2">기업회원</label><br>
            <br>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</body>
</html>